<ion-header>
	<app-toolbar
		[page]="this"
		selectedTitle="{{selectedItems.length}} {{'Production order' | translate}}"
		pageTitle="{{'Production order' | translate}}"
		[pageConfig]="pageConfig"
		[selectedItems]="selectedItems"
		[query]="query"
	></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<ion-refresher [disabled]="!pageConfig.refresher" [disabled]="!pageConfig.refresher" slot="fixed" (ionRefresh)="refresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature" vertical="top" horizontal="end" slot="fixed">
		<div class="ion-padding"></div>
	</ion-fab>
	<app-data-table
		class="box-shadow responsive"
		[rows]="items"
		[trackBy]="'Id'"
		[(selectedRows)]="selectedItems"
		[showSpinner]="pageConfig.showSpinner"
		[showFilter]="pageConfig.isShowSearch"
		[(query)]="query"
		(dataInfinite)="loadData($event)"
		(filter)="onDatatableFilter($event)"
		(sort)="onSort($event)"
	>
		<datatable-column [checkbox]="true"></datatable-column>
		<datatable-column class="col-id" name="Id" property="Id">
			<ng-template let-i="row" datatable-cell-template>
				<a [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]">{{i.Id}}</a>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-date" format="yyyy-MM-dd" name="Order date" property="OrderDate" filterControlType="date"></datatable-column>

		<datatable-column class="col-date" format="yyyy-MM-dd" name="Start date" property="StartDate" filterControlType="date"></datatable-column>

		<datatable-column class="col-code" name="Type" property="Type"> </datatable-column>

		<datatable-column class="col-name" name="Warehouse" property="_Warehouse">
			<ng-template let-i="row" datatable-cell-template> {{i?._Warehouse?.Name}} </ng-template>
		</datatable-column>

		<datatable-column class="col-name" name="Name" property="Name"> </datatable-column>

		<datatable-column class="col-code" name="Planned quantity" property="PlannedQuantity"> </datatable-column>

		<datatable-column class="col-code" name="Rejected quantity" property="RejectedQuantity"> </datatable-column>

		<datatable-column class="col-id" name="BOM" property="IDBOM">
			<ng-template let-i="row" datatable-cell-template>
				<a [routerLink]="['/bill-of-materials/' + i.IDBOM]">{{ i.IDBOM }}</a>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-id" name="Sale orders" property="IDSaleOrder">
			<ng-template let-i="row" datatable-cell-template>
				<a [routerLink]="['/sale-order/' + i.IDSaleOrder]">{{ i.IDSaleOrder }}</a>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-code" name="Remark" property="Remark"> </datatable-column>

		<datatable-column class="col-code" name="Journal remark" property="JournalRemark"> </datatable-column>

		<datatable-column class="col-status" name="Status" property="Status">
			<ng-template let-i="row" datatable-cell-template>
				<span class="bar-holder">
					<ng-container *ngFor="let s of statusList">
						<ion-text *ngIf="s.Code==i.Status" class="bar-title" [color]="s.Color">{{s.Name}}</ion-text>
					</ng-container>
					<span
						class="bar"
						[ngClass]="{active: s.Code==i.Status}"
						[ngStyle]="{'background-color': 'var(--ion-color-'+s.Color+')'}"
						*ngFor="let s of statusList"
						[title]="s.Name"
					></span>
				</span>
			</ng-template>
		</datatable-column>
	</app-data-table>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
