<ion-header>
	<app-toolbar [page]="this"> </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="production-order-page" class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Production Order' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>

					<ion-col size="12" size-sm size-xl="4">
						<app-form-control
							[field]="{id:'Type', label: 'Type', type : 'ng-select', form : formGroup,  dataSource: typeList,  bindLabel: 'Name',  bindValue: 'Code' }"
							(change)="saveChange()"
						>
						</app-form-control>

						<app-form-control
							[field]="{id:'Status', label: 'Status', type : 'ng-select', form : formGroup,  dataSource: statusList,  bindLabel: 'Name',  bindValue: 'Code' }"
							(change)="saveChange()"
						>
						</app-form-control>

						<div class="c-control">
							<label class="c-label" for="IDBOM"
								>{{'BOM' | translate}}
								<span
									*ngIf="!formGroup.controls.IDBOM.valid && !formGroup.controls.IDBOM.pending && (formGroup.controls.IDBOM.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<ng-select
								class="c-input"
								(change)="saveChange();"
								labelForId="IDBOM"
								formControlName="IDBOM"
								[items]="itemList$ | async"
								[typeahead]="itemListInput$"
								[virtualScroll]="true"
								bindLabel="Name"
								bindValue="Id"
								placeholder="{{'Search for name or product code' | translate}}"
							>
								<ng-template ng-label-tmp let-i="item">
									<div *ngIf="i.Id">
										<a [routerLink]="['/bill-of-materials/'+i.Id]" (mousedown)="$event.stopPropagation()"
											>#{{i.Id}} <ion-icon name="open-outline"></ion-icon
										></a>
										<span [title]="i._Item?.Name">
											<b *ngIf="i._Item?.Code" (mousedown)="$event.stopPropagation()">{{i._Item?.Code}}</b>
											{{i._Item?.Name}}</span
										>
									</div>
								</ng-template>
								<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
									<div *ngIf="i">
										<div>
											<span [ngOptionHighlight]="search">{{i._Item?.Name}}</span>
										</div>
										<small
											>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i._Item?.Code}}</span></b></small
										>
									</div>
								</ng-template>
							</ng-select>
						</div>

						<app-form-control [field]="{id:'PlannedQuantity', label: 'Planned quantity', type : 'number', form : formGroup }" (change)="saveChange()">
						</app-form-control>

						<div class="c-control">
							<label class="c-label" for="IDWarehouse"
								>{{'Warehouse' | translate}}
								<span
									*ngIf="!formGroup.controls.IDWarehouse.valid && !formGroup.controls.IDWarehouse.pending && (formGroup.controls.IDWarehouse.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<ng-select
								class="c-input"
								(change)="saveChange();"
								labelForId="IDWarehouse"
								formControlName="IDWarehouse"
								[items]="branchList"
								[virtualScroll]="true"
								bindLabel="Name"
								bindValue="Id"
								placeholder="{{'Search...' | translate}}"
							>
								<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
									<div *ngIf="i">
										<div><span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
									</div>
								</ng-template>
							</ng-select>
						</div>
						<app-form-control
							[field]="{id:'OrderDate', label: 'Order date', type : 'datetime-local', placeholder: 'yyyy-MM-dd', form : formGroup }"
							(change)="saveChange()"
						>
						</app-form-control>
					</ion-col>

					<ion-col size="12" size-sm size-xl="4">
						<app-form-control
							[field]="{id:'StartDate', label: 'Start date', type : 'datetime-local', placeholder: 'yyyy-MM-dd', form : formGroup }"
							(change)="saveChange()"
						>
						</app-form-control>
						<app-form-control
							[field]="{id:'DueDate', label: 'Due date', type : 'datetime-local', placeholder: 'yyyy-MM-dd', form : formGroup }"
							(change)="saveChange()"
						>
						</app-form-control>
						<app-form-control [field]="{id:'IDSaleOrder', label: 'SalesOrder', type : 'number', form : formGroup }" (change)="saveChange()"> </app-form-control>
						<app-form-control
							[field]="{id:'IDCustomer', label: 'Customer', type : 'ng-select-bp', form : formGroup,  dataSource: _contactDataSource,  bindValue: 'Id' }"
							(change)="saveChange();"
						>
						</app-form-control>
						<app-form-control [field]="{id:'PickRemark', label: 'Pick & Pack remark', type : 'text', form : formGroup }" (change)="saveChange()"> </app-form-control>
					</ion-col>
				</ion-row>
			</form>
		</ion-grid>
		<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'Components' | translate }}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Other information' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-toolbar>

			<div *ngIf="!env.isMobile && segmentView == 's1'" class="row-full shadow full-screen" [ngClass]="{'mobile-screen': env.isMobile}">
				<form [formGroup]="formGroup">
					<ng-container formArrayName="ProductionOrderDetails">
						<div class="table-contain">
							<section class="table" style="min-width: 1270px">
								<header class="bold" style="padding-right: 0">
									<div class="col-id cell">#</div>
									<div class="col-uom cell">{{'Type' | translate}}</div>

									<div class="col-name cell">{{'Name' | translate}}</div>

									<div class="col-date cell">{{'Start date' | translate}}</div>

									<div class="col-date cell">{{'End date' | translate}}</div>

									<div class="col-qty cell">{{'Production time' | translate}}</div>

									<div class="col-qty cell">{{'Base qty' | translate}}</div>

									<div class="col-qty cell">{{'Planned qty' | translate}}</div>

									<div class="col-status cell">{{'Issue method' | translate}}</div>

									<div class="col-status cell">{{'Status' | translate}}</div>
								</header>
								<ng-container *ngFor="let g of formGroup.get('ProductionOrderDetails')['controls']; let idx = index;">
									<ng-container [formGroup]="g">
										<div class="row">
											<ion-reorder slot="start"></ion-reorder>
											<div class="col-id cell">{{idx+1}}</div>
											<div class="col-uom cell">
												<div class="col-uom cell">
													<select
														formControlName="Type"
														[attr.disabled]="(!pageConfig.canEdit || submitAttempt)?'':null"
														class="c-input c-dropdown"
														(change)="saveChange()"
													>
														<option [disabled]="t.Flag" *ngFor="let t of componentTypeList" [value]="t.Code">{{t.Name}}</option>
													</select>
												</div>
											</div>
											<ng-container *ngIf="g.controls.Type.value!='CTItem'">
												<div class="col-name cell">
													<app-input-control [field]="{id:'Name', type : 'text', form : g, }" (change)="saveChangeDetail(g)"></app-input-control>
												</div>
											</ng-container>
											<ng-container *ngIf="g.controls.Type.value =='CTItem'">
												<div class="col-name cell">
													<ng-select
														formControlName="_Item"
														appendTo="#production-order-page"
														[readonly]="!pageConfig.canEdit || submitAttempt"
														class="c-input"
														(change)="changedIDItem(g, $event)"
														[labelForId]="'IDItem'+idx"
														[items]="g.controls._ItemDataSource.value | async"
														[clearable]="false"
														[typeahead]="g.controls._ItemSearchInput.value"
														[loading]="g.controls._ItemSearchLoading.value"
														[virtualScroll]="true"
														bindLabel="Name"
														placeholder="{{'Search for name or product code' | translate}}"
													>
														<ng-template ng-label-tmp let-i="item">
															<div *ngIf="i.Id">
																<a [routerLink]="['/item/'+i.Id]" (mousedown)="$event.stopPropagation()"
																	>#{{i.Id}} <ion-icon name="open-outline"></ion-icon
																></a>
																<span [title]="i.Name">
																	<b *ngIf="i.Code" (mousedown)="$event.stopPropagation()">{{i.Code}}</b>
																	{{i.Name}}</span
																>
															</div>
														</ng-template>
														<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
															<div *ngIf="i">
																<div>
																	<span [ngOptionHighlight]="search">{{i.Name}}</span>
																</div>
																<small
																	>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b></small
																>
															</div>
														</ng-template>
													</ng-select>
												</div>
												<div class="col-date cell">
													<app-input-control
														[field]="{id:'StartDate', type: 'datetime-local' , form : g }"
														(change)="saveChangeDetail(g)"
													></app-input-control>
												</div>
												<div class="col-date cell">
													<app-input-control
														[field]="{id:'EndDate', type: 'datetime-local' , form : g }"
														(change)="saveChangeDetail(g)"
													></app-input-control>
												</div>
												<div class="col-qty cell">
													<app-input-control
														[field]="{id:'RequiredDays', type : 'number', form : g, }"
														(change)="saveChangeDetail(g)"
													></app-input-control>
												</div>
												<div class="col-qty cell">
													<app-input-control
														[field]="{id:'BaseQuantity', type : 'number', form : g, }"
														(change)="saveChangeDetail(g)"
													></app-input-control>
												</div>
												<div class="col-qty cell">
													<app-input-control
														[field]="{id:'PlannedQuantity', type : 'number', form : g, }"
														(change)="saveChangeDetail(g)"
													></app-input-control>
												</div>
												<div class="col-status cell">
													<select
														formControlName="IssueMethod"
														[attr.disabled]="(!pageConfig.canEdit || submitAttempt)?'':null"
														class="c-input c-dropdown"
														(change)="saveChange()"
													>
														<option [disabled]="t.Flag" *ngFor="let t of issueMethodList" [value]="t.Code">{{t.Name}}</option>
													</select>
												</div>
												<div class="col-status cell">
													<select
														formControlName="Status"
														[attr.disabled]="(!pageConfig.canEdit || submitAttempt)?'':null"
														class="c-input c-dropdown"
														(change)="saveChange()"
													>
														<option *ngFor="let t of statusList" [value]="t.Code">{{t.Name}}</option>
													</select>
												</div>
											</ng-container>
										</div>
									</ng-container>
								</ng-container>
							</section>
						</div>
					</ng-container>
				</form>
			</div>
			<div *ngIf="segmentView == 's2'">
				<div class="ion-padding">
					<ion-grid fixed>
						<form [formGroup]="formGroup">
							<!-- Group cost -->
							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="4">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'Group Cost' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="6">
									<app-form-control
										[field]="{id:'ItemComponentCost', label: 'Item component cost', type : 'text', bindValue: 'TaxCode', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'ResourceComponentCost', label: 'Resource component cost', type : 'text', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'AdditionCost', label: 'Addition cost', type : 'text', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'ProductCost', label: 'Product cost', type : 'text', bindValue: 'TaxCode', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control [field]="{id:'TotalCost', label: 'Total cost', type : 'text', form : formGroup }" (change)="saveChange()"></app-form-control>
									<app-form-control
										[field]="{id:'JournalRemark', label: 'Journal remark', type : 'text', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
								</ion-col>
							</ion-row>

							<!-- Group quantity -->
							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="4">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'Group Quantity' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="6">
									<app-form-control
										[field]="{id:'PlannedQuantity', label: 'Planned quantity', type : 'number', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'CompletedQuantity', label: 'Completed quantity', type : 'number', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'RejectedQuantity', label: 'Rejected quantity', type : 'number', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
								</ion-col>
							</ion-row>

							<!-- Group dates -->
							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="4">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'Group Dates' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="6">
									<app-form-control
										[field]="{id:'DueDate', label: 'Due date', type : 'datetime-local', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'ActualClosingDate', label: 'Actual closing date', type : 'datetime-local', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
									<app-form-control
										[field]="{id:'Overdue', label: 'Overdue', type : 'datetime-local', form : formGroup }"
										(change)="saveChange()"
									></app-form-control>
								</ion-col>
							</ion-row>

							<!-- Other information -->
							<ion-row class="hr-group" *ngIf="item.Id">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="4">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'Other information' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="6">
									<app-form-control [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
									<app-form-control [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
									<app-form-control [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
									<app-form-control [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
									<app-form-control
										[field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"
									></app-form-control>
									<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
								</ion-col>
							</ion-row>
						</form>
					</ion-grid>
				</div>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
