<ion-header collapse="fade">
	<ion-toolbar class="no-padding">
		<ion-buttons slot="start">
			<ion-button> {{'Create PO' | translate}} </ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button title="{{'Close' | translate}}" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<ion-grid fixed>
		<form [formGroup]="formGroup">
			<ion-row>
				<ion-col size="12" size-sm="12" size-md="12">
					<app-form-control
						[field]="{branchConfig:{showingType:'Warehouse',selectedBranch:this.env.selectedBranch},
            id:'IDWarehouse',label:'Warehouse',type:'ng-select-branch',
            dataSource:branchList,bindLabel:'Name',bindValue:'Id', placeholder:'Search',
            form:formGroup}"
					>
					</app-form-control>
					<div class="c-control">
						<label class="c-label" for="IDStorer"
							>{{'Goods owner' | translate}}
							<span
								*ngIf="!formGroup.controls.IDStorer.valid && !formGroup.controls.IDStorer.pending && (formGroup.controls.IDStorer.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>
						<ng-select
							class="c-input"
							labelForId="IDStorer"
							formControlName="IDStorer"
							[items]="storerList"
							[virtualScroll]="true"
							bindLabel="Name"
							bindValue="Id"
							placeholder="{{'Search...' | translate}}"
						>
							<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
								<div *ngIf="i">
									<div>
										<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
										<span [ngOptionHighlight]="search">{{i.Name}}</span>
									</div>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</ion-col>
			</ion-row>
		</form>
	</ion-grid>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start"></div>

		<div slot="end">
			<ion-button fill="outline" color="warning" (click)="closeModal()"> {{'Cancel' | translate}} </ion-button>
			<ion-button [strong]="true" [disabled]="!formGroup.dirty" (click)="createPO()"> {{'Create PO' | translate}} </ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
