<ion-header>
	<app-toolbar [page]="this">
		<ng-container>
			<ion-button (click)="createPurchaseRequest()" title="{{'Create purchase request' | translate}}">
				{{'Create purchase request' | translate}}
				<!-- <ion-icon slot="icon-only" name="basket-outline"></ion-icon> -->
			</ion-button>
			<ion-button *ngIf="pageConfig.canCopyToPO && selectedCount" (click)="createPO()" title="{{'Create PO' | translate}}">
				<ion-icon slot="icon-only" name="basket-outline"></ion-icon>
			</ion-button>
			<ion-button *ngIf="pageConfig.canCopyToPO" (click)="suggestVendors()" title="{{'Vendors recommendation' | translate}}">
				<ion-icon slot="icon-only" name="bulb-outline"></ion-icon>
			</ion-button>
		</ng-container>
	</app-toolbar>
	<!-- <section class="table">
		
	</section> -->
</ion-header>

<ion-content appScrollbarTheme class="header-table scrollx" forceOverscroll="false">
	<div class="table" style="max-width: 1440px; margin: auto; width: 100%">
		<app-data-table
			style="width: fit-content; min-width: calc(100% - 32px) !important"
			class="box-shadow responsive"
			[rows]="itemsState"
			[trackBy]="'Id'"
			[isTreeList]="true"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			[isQueryLocalOnly]="true"
		>
			<datatable-column class="col-icon large" name="" property="Id">
				<ng-template let-i="row" datatable-cell-template>
					<ion-icon (click)="toggleRow(items, i, true);" class="clickable"></ion-icon>
					<!-- <ion-icon *ngIf="i._isWebContent" class="clickable" [name]="'document-text-outline'" [color]="i.Color || 'primary'"></ion-icon> -->
				</ng-template>
			</datatable-column>
			<!-- [routerLink]="['/'+pageConfig.pageName+'/'+i.Code]" -->
			<datatable-column class="col-name" name="Name" property="Name">
				<ng-template datatable-header-template>
					<ion-icon class="min-btn" [name]="!isAllRowOpened? 'add-circle-outline':'remove-circle-outline'" (click)="toggleRowAll()"></ion-icon>
					<span (click)="toggleRowAll()">{{'Name' | translate}}</span>
				</ng-template>
				<ng-template let-i="row" datatable-cell-template>
					<ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing" *ngIf="k>0"></span></ng-container>
					<ion-icon
						(click)="toggleRow(items, i, true);"
						class="min-btn clickable"
						[name]="!i.showdetail? 'chevron-forward-outline':'chevron-down-outline'"
						*ngIf="i.HasChild"
					></ion-icon>
					<ion-icon class="min-btn clickable" [name]="''" *ngIf="!i.HasChild"></ion-icon>
					<ion-text (click)="toggleRow(items, i, true);" class="clickable" [ngClass]="i.HasChild? ('bold ') : ('')" [color]="i.Color">{{i.Name | translate}}</ion-text>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-mrpname" name="Item" property="ItemName">
				<ng-template let-i="row" datatable-cell-template>
					<span *ngIf="i.IDVendor" class="vendor-name">
						<a [href]="'#/'+'business-partner/'+i.IDVendor" (click)="nav('business-partner/'+i.IDVendor,'forward')" title="{{'Vendor' | translate}}">
							{{i.IDVendor}} <ion-icon name="open-outline"></ion-icon> </a
						>&nbsp;
					</span>
					<span *ngIf="!i.IDVendor" class="vendor-name">
						<a [href]="'#/'+'item/'+i.IDItem" (click)="nav('item/'+i.IDItem,'forward')" title="{{'Item' | translate}}">
							{{i.IDItem}} <ion-icon name="open-outline"></ion-icon> </a
						>&nbsp;
					</span>
					<ion-text>{{i.ItemName}}<small label *ngIf="i.Code"> {{i.Code}}</small></ion-text>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-number quantity" name="Quantity" property="QuantityOrdered">
				<ng-template let-i="row" datatable-cell-template> <span>{{i.QuantityOrdered}}</span><small label> {{i.UoMName}}</small> </ng-template>
			</datatable-column>
			<datatable-column class="col-date" format="dd/MM/yy" name="DueDate" property="DueDate"></datatable-column>
			<datatable-column class="col-check" name="Prefer vendor" property="Id">
				<ng-template let-i="row" datatable-cell-template>
					<input [disabled]="submitAttempt" *ngIf="i?.IDVendor" class="c-checkbox" type="checkbox" [(ngModel)]="i.checked" (change)="changeVendor(i)" />
				</ng-template>
			</datatable-column>
			<datatable-column class="col-number" name="Price" property="Price">
				<ng-template let-i="row" datatable-cell-template>
					{{i?.PriceText}}
				</ng-template>
				
			</datatable-column>
			<datatable-column class="col-number" name="MOQ" property="MOQ"> </datatable-column>
			<datatable-column class="col-number" name="Order multiple" property="OrderMultiple"> </datatable-column>
			<datatable-column class="col-number" name="Order interval" property="OrderInteral"> </datatable-column>
			<datatable-column class="col-number" name="Lead time" property="LeadTime"> </datatable-column>
			<datatable-column class="col-number" name="Tolerance days" property="ToleranceDays"> </datatable-column>

			<!-- <datatable-column *ngIf="pageConfig.canEdit" class="col-icon" name="" property="Id">
				<ng-template let-i="row" datatable-cell-template>
					<ion-button *ngIf="!i._isHasWebContent && !i._isWebContent" (click)="nav('/help/' + i.Code)" size="small" title="{{'Add' | translate}}" fill="clear">
						<ion-icon slot="icon-only" name="pencil"></ion-icon>
					</ion-button>
				</ng-template>
			</datatable-column> -->
		</app-data-table>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
