.cell b {
	color: var(--ion-color-primary);
}

.table {
	background: transparent;

	.row.header {
		height: calc(10 / 16 * 4.5rem);
		padding-top: calc(10 / 16 * 1rem);
		background: transparent;
	}

	.row {
		background: var(--table-row-background);

		&.selected {
			font-weight: bold;
		}
	}
}

::ng-deep {
	.col-mrpname {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 300px;
		max-width: 300px;
	}
	.col-check {
		max-width: 100px;
		min-width: 100px;
		justify-content: center;
		text-align: center;

		ion-checkbox {
			height: 17px;
			width: 17px;
		}
	}
}

.vendor-name {
	font-size: 80%;
}