<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" class="ion-hide-sm-down_">
			<ion-button color="dark" class="ion-hide-sm-down"> {{'Select order' | translate}} </ion-button>
		</ion-buttons>

		<ion-buttons slot="primary">

			<span class="split ion-hide-sm-down">|</span>

			<ion-button [disabled]="selectedItems.length==0" fill="solid" size="small" color="primary"
				(click)="SaveSelected()">
				&nbsp;{{'Add' | translate}} {{selectedItems.length}} {{'document' | translate}}&nbsp;
			</ion-button>

			<ion-button title="{{'Search' | translate}}" (click)="pageConfig.isShowSearch =! pageConfig.isShowSearch">
				<ion-icon slot="icon-only" name="search-outline"></ion-icon>
			</ion-button>

			<ion-button (click)="refresh()" title="{{'Refresh' | translate}}">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>

			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

</ion-header>
<ion-content appScrollbarTheme class="header-table">
	<app-data-table class="box-shadow responsive" [rows]="items" [trackBy]="'Id'" [(selectedRows)]="selectedItems"
		[showSpinner]="pageConfig.showSpinner" [showFilter]="pageConfig.isShowSearch" [(query)]="query"
		(dataInfinite)="loadData($event)" (filter)="onDatatableFilter($event)" (sort)="onSort($event)"
		(selectedRowsChange)="showCommandBySelectedRows($event)">
		<datatable-column [checkbox]="true" name=""></datatable-column>
		<datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName"></datatable-column>
		<datatable-column class="col-status" name="Status" property="Status" filterControlType="ng-select"
			[filterDataSource]="statusList">
			<ng-template let-i="row" datatable-cell-template>
				<ion-badge [color]="i._Status?.Color" [title]="i._Status?.Color"> {{i._Status?.Name | translate}}
				</ion-badge>
				
			</ng-template>
		</datatable-column>
		<datatable-column class="col-date" format="yyyy-MM-dd" name="Order date" property="OrderDate"
			filterControlType="date"> </datatable-column>
		<datatable-column class="col-name flex-break" name="Customer" property="_Customer">
			<ng-template let-i="row" datatable-cell-template>
				<span *ngIf="!i.IDParent" title="{{'View order's details' | translate}}"
					(click)="nav('sale-order/'+i.Id,'forward')">{{i._Customer?.Name}}
					<small title="{{'Search for this customer' | translate}}"
						(click)="query.CustomerName='C:'+i.IDContact; pageConfig.isShowSearch=true; refresh()">
						{{i.IDContact}}
					</small>
					<a [href]="'#/'+'business-partner/'+i.IDContact"
						(click)="nav('business-partner/'+i.IDContact,'forward')"
						title="{{'View customers' information' | translate}}">
						<ion-icon name="open-outline"></ion-icon>
					</a>
				</span>
				<small *ngIf="!i.IDParent && i._Customer?.Address" class="address">
					<ion-text color="dark">
						<span>{{i._Customer.Address.AddressLine1}}</span>
						<span *ngIf="i._Customer.Address.AddressLine2"> {{i._Customer.Address.AddressLine2}}</span>
					</ion-text>
				</small>
			</ng-template>
		</datatable-column>
		<datatable-column class="col-code" name="Sales staff" property="_Saleman">
			<ng-template let-i="row" datatable-cell-template> {{i._Saleman? i._Saleman.FullName :''}}</ng-template>
		</datatable-column>
		<datatable-column class="col-number bold" format="1.0-0" name="Total"
			property="TotalAfterTax"></datatable-column>
		<datatable-column class="col-code" name="Vendor code" property="Code"></datatable-column>
	</app-data-table>
	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)"
		[disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>