<ion-header [translucent]="true">
	<app-toolbar [page]="this" [pageTitle]="'Meals summary' | translate" [ShowSearch]="true"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true" appScrollbarTheme class="left scrollx" [ngClass]="{withFeature: pageConfig.isShowFeature}" forceOverscroll="false">
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature no-print" vertical="bottom" horizontal="start" slot="fixed">
		<div id="detail-page" style="position: absolute; z-index: 30005"></div>
		<div class="ion-padding" style="padding-bottom: 0">
			<app-form-control
				[field]="{
					id:'IDBranch',
					label:'Unit',
					type:'ng-select-branch',
					dataSource: env.branchList,
					bindLabel:'Name',
					bindValue:'Query',
					form: formGroup,
					virtualScroll: true,
					clearable: true,
					appendTo:'#detail-page',
					placeholder:'unit-placeholder'
				}"
				(change)="onBranchFilterChange()"
			></app-form-control>
			<div class="c-control">
				<label class="c-label" for="ValidFrom">
					<ion-text color="primary">{{'From date' | translate}}</ion-text>
				</label>
				<input [(ngModel)]="query.WorkingDateFrom" class="c-input no-check-dirty" type="date" />
			</div>

			<div class="c-control">
				<label class="c-label" for="ValidTo">
					<ion-text color="primary">{{'To date' | translate}}</ion-text>
				</label>
				<input [(ngModel)]="query.WorkingDateTo" class="c-input no-check-dirty" [min]="query.WorkingDateFrom" type="date" />
			</div>
			<div class="c-control">
				<label class="c-label"></label>
				<ion-button (click)="refresh()" expand="block" [disabled]="submitAttempt"> {{'Create list' | translate}} </ion-button>
			</div>
		</div>

		<div>
			<ion-list-header lines="full">
				<ion-label color="dark">{{'Detail listing' | translate}}</ion-label>
			</ion-list-header>
			<ion-list>
				<ion-item *ngFor="let i of optionGroup" [color]="segmentView == i.Code? 'primary': '' " button detail="true" lines="full" class="clickable" (click)="loadNode(i)">
					<ion-label class="ion-text-wrap">
						<h3>{{i.Name}}</h3>
						<p *ngIf="i.Remark">{{i.Remark}}</p>
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
	</ion-fab>

	<div style="min-width: 300px; height: calc(100vh - 65px)">
		<app-catering-booking-schedule [showSearch]="pageConfig.isShowSearch" [setQuery]="query" *ngIf="segmentView=='schedule'"></app-catering-booking-schedule>
	</div>
</ion-content>
