<ion-header>
	<app-toolbar [page]="this">
		
		<ion-button title="{{ 'Run MRP' | translate }}" (click)="runMRP()">
			<ion-icon color="primary" slot="icon-only" name="calculator-outline"></ion-icon>
		</ion-button>

	</app-toolbar>
</ion-header>

<ion-popover class="w300" #addDocumentPopover [isOpen]="isOpenAddDocumentPopover" (didDismiss)="isOpenAddDocumentPopover = false">
	<ng-template>
		<ion-content scroll-y="false">
			<ion-list lines="none">
				<ion-item>
					<div class="c-group">
						<div class="c-control document">
							<ng-select
								appendTo="#ng-select-holder"
								[(ngModel)]="documentTypeSelected"
								class="c-input"
								[items]="documentTypeList"
								[clearable]="false"
								[virtualScroll]="true"
								bindLabel="Name"
								bindValue="Code"
								(change)="saveDocument()"
							>
								<ng-template ng-label-tmp let-i="item">
									<div *ngIf="i">
										<div>
											<ion-icon [color]="i.Color" [name]="i.Icon" slot="start"></ion-icon> &nbsp;
											<ion-text>{{ i.Name }}</ion-text>
										</div>
									</div>
								</ng-template>
								<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
									<div *ngIf="i">
										<div>
											<ion-icon [color]="i.Color" [name]="i.Icon" slot="start"></ion-icon> &nbsp;
											<ion-text [ngOptionHighlight]="search">{{ i.Name }}</ion-text>
											&nbsp; &nbsp;
											<ion-icon name="checkmark-outline" slot="end" color="secondary" *ngIf="documentTypeSelected?.Code == i.Code"></ion-icon>
										</div>
									</div>
								</ng-template>
							</ng-select>
						</div>
					</div>
				</ion-item>

				<ion-item lines="none">
					<div class="button-wrapper">
						<ion-button fill="solid" size="small" shape="round" color="success" (click)="addDocumentPopover.dismiss(); showDocumentModal(true)">
							<ion-label>{{'Add' | translate}}</ion-label>
						</ion-button>
						<ion-button fill="solid" size="small" shape="round" color="warning" (click)="addDocumentPopover.dismiss(); showDocumentModal(false)">
							<ion-label>{{'Except' | translate}}</ion-label>
						</ion-button>
					</div>
				</ion-item>


			</ion-list>
		</ion-content>
	</ng-template>
</ion-popover>
<ion-content appScrollbarTheme class="ion-padding">
	<div id="scenario-detail-page" style="position: absolute"></div>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Scenario detail' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control [field]="{id:'Id', label: 'Id', type : 'text', form : formGroup }"
							(change)="saveChange()"> </app-form-control>
						<app-form-control [field]="{id:'Name', label: 'Name', type : 'text', form : formGroup }"
							(change)="saveChange()"> </app-form-control>
						<app-form-control
							[field]="{id:'Period', label: 'Period', type : 'ng-select', form : formGroup,  dataSource: periodDataSource,  bindLabel: 'Name',  bindValue: 'Code' }"
							(change)="changePeriod()"></app-form-control>	
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control
							[field]="{id:'StartDate', label: 'Start date', type : 'date', placeholder: 'yyyy-MM-dd', form : formGroup }"
							(change)="changeDate()"></app-form-control>
						<app-form-control
							[field]="{id:'EndDate', label: 'End date', type : 'date', placeholder: 'yyyy-MM-dd', form : formGroup }"
							(change)="changeDate()"></app-form-control>
					</ion-col>
				</ion-row>
			</form>
		</ion-grid>

		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'General information' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Items' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s3">
						<ion-label>{{'Result' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s4">
						<ion-label>{{'Recommend' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-toolbar>
			<div>
				<!-- Thông tin chung -->
				<div *ngIf="segmentView == 's1'">
					<div class="ion-padding">
						<ion-grid fixed>
							<form [formGroup]="formGroup">
								<ion-row class="hr-group">
									<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
										<ion-list-header class="ion-no-padding">
											<ion-label color="primary">{{'Scenario information' |
												translate}}</ion-label>
										</ion-list-header>
									</ion-col>
									<ion-col size="12" size-sm="6" size-xl="4">
										<app-form-control
											[field]="{id:'MaximumCumulativeLeadTime', type : 'number', form : formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id:'ItemsGroup', label: 'Items group', type : 'ng-select', form : formGroup,  dataSource: itemGroupDataSource,  bindLabel: 'Name',  bindValue: 'Id' }"
											(change)="saveChange()"></app-form-control>
										<app-form-control
											[field]="{id:'LastExecuteDate', label: 'Last execute date', type : 'date', placeholder: 'yyyy-MM-dd', form : formGroup }"
											(change)="saveChange()"></app-form-control>
									</ion-col>
									<ion-col size="12" size-sm="6" size-xl="4">
										<app-form-control
											[field]="{id:'InventoryLevel', label: 'Inventory level',type : 'text', form : formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id:'RecommendationCalculatedDate', label: 'Recommendation calculated date', type : 'date', placeholder: 'yyyy-MM-dd', form : formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control [field]="{id: 'Warehouses', label: 'Warehouse', type: 'ng-select-branch', form: formGroup,  dataSource: warehouseDataSource,  bindLabel: 'Name',  bindValue: 'Id',
                                    		branchConfig:{showingType:'Warehouse'},multiple: true,
                                    		treeConfig:{searchFnDefault:true}, appendTo:'#scenario-detail-page'}"
											(controlChange)="saveChange();">
										</app-form-control>

									</ion-col>
									<ion-col size="12" size-sm="6" size-xl="4" offset-xl="3">
										<app-form-control
											[field]="{id: 'IsHolidaysForProduction', label: 'IsHolidaysForProduction', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsHolidaysForPurchase', label: 'IsHolidaysForPurchase', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsConsiderExistingInventory', label: 'IsConsiderExistingInventory', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsConsiderPurchaseOrders', label: 'IsConsiderPurchaseOrders', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsConsiderSalesOrders', label: 'IsConsiderSalesOrders', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsConsiderWorkOrders', label: 'IsConsiderWorkOrders', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsMinimumInventoryLevel', label: 'IsMinimumInventoryLevel', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsItemsWithoutRequirement', label: 'IsItemsWithoutRequirement', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsScenarioASimulation', label: 'IsScenarioASimulation', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsReserveInvoice', label: 'IsReserveInvoice', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsInventoryTransferRequest', label: 'IsInventoryTransferRequest', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsRecommendPurchaseOrder', label: 'IsRecommendPurchaseOrder', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsRecommendProductionOrder', label: 'IsRecommendProductionOrder', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsRecommendITRQ', label: 'IsRecommendITRQ', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsRecommendToDefaultWarehouse', label: 'IsRecommendToDefaultWarehouse', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
									</ion-col>
									<ion-col size="12" size-sm="6" size-xl="4">
										<app-form-control
											[field]="{id: 'IsOnlyNettable', label: 'IsOnlyNettable', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsExpandedSalesOrder', label: 'IsExpandedSalesOrder', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsRecommendProductionOrder', label: 'IsRecommendProductionOrder', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsRecurringOrderTransactions', label: 'IsRecurringOrderTransactions', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsExpandedReserveInvoice', label: 'IsExpandedReserveInvoice', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsExpandedProductionOrder', label: 'IsExpandedProductionOrder', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsIgnoreCumulativeLeadTime', label: 'IsIgnoreCumulativeLeadTime', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsConsiderPurchaseRequest', label: 'IsConsiderPurchaseRequest', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsConsiderPurchaseQuotations', label: 'IsConsiderPurchaseQuotations', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsConsiderSalesQuotations', label: 'IsConsiderSalesQuotations', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsExpandedPurchaseRequest', label: 'IsExpandedPurchaseRequest', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsExpandedPurchaseQuotations', label: 'IsExpandedPurchaseQuotations', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsExpandedSalesQuotations', label: 'IsExpandedSalesQuotations', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsExpandedTransferRequest', label: 'IsExpandedTransferRequest', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
										<app-form-control
											[field]="{id: 'IsDisplaySelectedItemOnly', label: 'IsDisplaySelectedItemOnly', type: 'checkbox', form: formGroup }"
											(change)="saveChange()">
										</app-form-control>
									</ion-col>
								</ion-row>
								<ion-row class="hr-group">
									<ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="3" >
										<ion-list-header class="ion-no-padding">
											<ion-label color="primary">{{'Document management' |
												translate}}</ion-label>
										</ion-list-header>
									</ion-col>
									<ion-col  size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="8" class="ion-no-padding">
										<div class="table-contain" *ngIf="item?.Id">
											<app-data-table *ngIf="!pageConfig.showSpinner" class="box-shadow responsive" [rows]="item?._PreventDocument" [(query)]="query" [showSpinner]="pageConfig.showSpinner">
												<datatable-empty-message subMessage="Please click add new to start..."  [showImg]="false" minHeight="125px">
													<ng-template datatable-empty-message-template>
															<ion-button (click)="presentAddDocumentPopover($event)" size="small" fill="outline" *ngIf="pageConfig.canEdit">
																<ion-icon slot="start" name="add-outline"></ion-icon>
																{{ 'Add document' | translate }}
															</ion-button>
													</ng-template>
												</datatable-empty-message>
												<datatable-column class="col-id" name="RefId" property="RefId">
													<ng-template let-i="row" datatable-cell-template>
														<a *ngIf="i.Type == 'SaleOrder'" [routerLink]="['/sale-order/'+i.RefId]"> {{i.RefId}} </a>
														<a *ngIf="i.Type == 'PurchaseOrder'" [routerLink]="['/purchase-order/'+i.RefId]"> {{i.RefId}} </a>
														<a *ngIf="i.Type == 'Forecast'" [routerLink]="['/forecast/'+i.RefId]"> {{i.RefId}} </a>
													</ng-template>
												</datatable-column>
												<datatable-column class="col-name"  name="Type" property="Type"></datatable-column>
												<datatable-column class="col-custom" name="Is prevent" property="IsPrevent">
													<ng-template let-i="row" datatable-cell-template>
														<ion-icon class="min-btn" [name]="i.IsPrevent?'checkmark-outline': 'ban-outline'" [color]="i.IsPrevent?'primary':'red'"></ion-icon>
													</ng-template>
												</datatable-column>
												<datatable-column class="col-icon" name="" property="Id" *ngIf="pageConfig.canEdit">
													<ng-template let-i="row" datatable-cell-template>
														<ion-button (click)="deleteRowPreventDocument(i)" size="small" title="{{ 'Remove' | translate }}" fill="clear">
															<ion-icon slot="icon-only" color='danger' name="trash"></ion-icon>
														</ion-button>
													</ng-template>
												</datatable-column>
											</app-data-table>
											<div class="ion-padding" *ngIf="pageConfig.canEdit">
												<ion-button fill="clear" size="small" (click)="presentAddDocumentPopover($event)">
													<ion-icon slot="start" name="add-circle-outline"></ion-icon>
													{{ 'Add document' | translate }}
												</ion-button>
											</div>
										</div>

									</ion-col>
								
								</ion-row>
								<!-- Other information -->
								<ion-row class="hr-group" *ngIf="item.Id">
									<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
										<ion-list-header class="ion-no-padding">
											<ion-label color="primary">{{'Other information' | translate}}</ion-label>
										</ion-list-header>
									</ion-col>
									<ion-col size="12" size-sm size-xl="4">
										<app-form-control
											[field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
										<app-form-control
											[field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
										<app-form-control
											[field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
										<app-form-control
											[field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
									</ion-col>
									<ion-col size="12" size-sm size-xl="4">
										<app-form-control
											[field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"></app-form-control>
										<app-form-control
											[field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }"
											(change)="saveChange()"></app-form-control>
									</ion-col>
								</ion-row>
							</form>
						</ion-grid>
					</div>
				</div>
				<!-- Items -->
				<div *ngIf="segmentView == 's2'" style="overflow-x: auto;">
					<div id="scenario-detail" style="position: absolute"></div>
						<form [formGroup]="formGroup">
							<ng-container formArrayName="Lines">
								<app-data-table [rows]="formGroup.get('Lines')['controls']" [showSpinner]="pageConfig.showSpinner">
									<datatable-empty-message subMessage="Please click add new to start...">
										<ng-template datatable-empty-message-template>
											<div>
												<ion-button *ngIf="formGroup.controls.Id.value != null" size="small" (click)="addItemLine({}, true)">
													<ion-icon slot="start" name="add-circle-outline"></ion-icon>
													{{ 'Add product' | translate }}
												</ion-button>
											</div>
										</ng-template>
									</datatable-empty-message>
									<datatable-column [checkbox]="true" property="value" *ngIf="pageConfig.canEdit">
										<ng-template datatable-header-template>
											<input class="c-checkbox" type="checkbox" (change)="toggleSelectAll()" [checked]="isAllChecked" />
										</ng-template>
										<ng-template let-g="row" datatable-cell-template>
											<app-input-control
												(change)="changeSelection(g, $event)"
												[field]="{ id: 'IsChecked', label: 'Checked', type: 'checkbox', form: g }"
											></app-input-control>
										</ng-template>
									</datatable-column>
									<datatable-column class="col-id" name="No." property="#"></datatable-column>
									<datatable-column class="col-name" name="Items" property="value">
										<ng-template let-g="row" datatable-cell-template>
											<app-input-control
												[field]="{ id: 'IDItem', label: 'Item', type: 'ng-select-item', form: g,
											dataSource: g.get('_IDItemDataSource').value,
											bindValue: 'Id',
											bindLabel: 'Name',
											clearable: true,
											placeholder: 'Type to search...',
											appendTo: '#scenario-detail', }"
												(change)="saveChange()"
											></app-input-control>
										</ng-template>
									</datatable-column>
									<datatable-column class="col-del" name="" property="value" *ngIf="pageConfig.canEdit">
										<ng-template datatable-header-template>
											<ion-icon *ngIf="formGroup.get('Lines')['controls'].length > 0"
												color="danger"
												class="min-btn clickable"
												title="{{ 'SELECTED_ITEMS' | translate: { COUNT: selectedLines.controls?.length } }}"
												name="trash-outline"
												(click)="removeSelectedItems()"
											></ion-icon>
										</ng-template>
										<ng-template let-g="row" let-idx="idx" datatable-cell-template>
											<ion-icon color="danger" class="min-btn clickable" name="trash-outline" (click)="removeLine(idx)"></ion-icon>
										</ng-template>
									</datatable-column>
									
								</app-data-table>
							</ng-container>
						</form>
						<div class="ion-padding" *ngIf="pageConfig.canEdit && !formGroup.invalid">
							<ion-button fill="clear" size="small" (click)="addItemLine({}, true)">
								<ion-icon slot="start" name="add-circle-outline"></ion-icon>
								{{ 'Add product' | translate }}
							</ion-button>
						</div>
				</div>
				<!-- Result -->
				<div *ngIf="segmentView == 's3'" style="overflow-x: auto;">
					<app-data-table
						class="box-shadow responsive"
						
						[rows]="item?._ItemsResult"
						[(selectedRows)]="selectedItems"
						[showSpinner]="pageConfig.showSpinner"
					>
					<datatable-column class="col-id" name="No." property="#"></datatable-column>
						<datatable-column class="col-id" name="IDItem" property="IDItem">
							<ng-template let-i="row" datatable-cell-template>
								<div class ="text-item" (mousedown)="$event.stopPropagation()">
									
									<a
									[ngClass]="{ 'no-check-dirty': noCheckDirty }"
									class="clickable"
									[routerLink]="['/item/' + i.IDItem]"
									>
									<span> {{ i.IDItem }} </span>
									</a>
								</div>
							</ng-template>

						</datatable-column>
						<datatable-column class="col-name" name="Name" property="Name">
						</datatable-column>
						<datatable-column class="col-name" name="Period" property="Period">
						</datatable-column>
						<datatable-column class="col-number" name="Initial" property="InitialQuantity">
						</datatable-column>
						<datatable-column class="col-number" name="OriginalInitial" property="OriginalInitialQuantity">
						</datatable-column>
						<datatable-column class="col-number" name="IncomingStock" property="IncomingStock">
						</datatable-column>
						<datatable-column class="col-number" name="OutgoingStock" property="OutgoingStock">
						</datatable-column>
						<datatable-column class="col-number" name="Final" property="FinalQuantity">
						</datatable-column>
						<datatable-column class="col-number" name="OriginalFinal" property="OriginalFinalQuantity">
						</datatable-column>
						<datatable-column class="col-number" name="Requests" property="Requests">
						</datatable-column>
					</app-data-table>		
				</div>
				<!-- Recommend -->
				<div *ngIf="segmentView == 's4'" style="overflow-x: auto;">
					<div class="ion-padding">
						<section class="table">
							<header class="bold">
								<!-- <div class="col-checkbox cell"></div> -->
								<div class="col-id cell">
									{{'Id' | translate}}
									<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
									<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
								</div>

								<div class="col-mrpname cell">
									{{'MRPName' | translate}}
									<ion-icon class="min-btn" *ngIf="sort.IDMRP" [name]="sort.IDMRP == 'IDMRP'?'arrow-down': 'arrow-up'"></ion-icon>
									<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IDMRP" name="search" color="primary"></ion-icon>
								</div>
								<div class="col-name cell">
									{{'Item' | translate}}
									<ion-icon class="min-btn" *ngIf="sort.Name" [name]="sort.Name == 'Name'?'arrow-down': 'arrow-up'"></ion-icon>
									<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Name" name="search" color="primary"></ion-icon>
								</div>

								<div class="col-number cell">
									{{'Quantity' | translate}}
									<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
									<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
								</div>

								<div class="col-date cell">
									{{'Duration' | translate}}
									<ion-icon class="min-btn" *ngIf="sort.PartyDate" [name]="sort.PartyDate == 'PartyDate'?'arrow-down': 'arrow-up'"></ion-icon>
									<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.PartyDate" name="search" color="primary"></ion-icon>
								</div>
								<div class="col-checkbox cell">{{'Order' | translate}}</div>

								<div class="col-number cell">
									{{'Price' | translate}}
									<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
									<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
								</div>
								<div class="col-number cell">
									{{'Quality' | translate}}
									<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
									<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
								</div>
								<div class="col-number cell">
									{{'Delivery' | translate}}
									<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
									<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
								</div>
								<div class="col-number cell">
									{{'Payment' | translate}}
									<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
									<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
								</div>
							</header>
							<form (submit)="refresh()" action="#">
								<header class="filter" *ngIf="pageConfig.isShowSearch">
									<!-- <div class="col-checkbox cell"></div> -->
									<div class="col-id cell"></div>
									<div class="col-mrpname cell">
										<select (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.IDMRP" class="c-input c-dropdown" [ngClass]="{active: query.IDMRP}">
											<option [value]="''">{{'All' | translate}}</option>
											<option [disabled]="t.Flag || t.IDMRP == null" *ngFor="let t of itemMRPList" [value]="t.IDMRP">{{t.MRPName}}</option>
										</select>
										<ion-icon class="min-btn" (click)="query.IDMRP=''; refresh()" *ngIf="query.IDMRP" name="close-circle-outline"></ion-icon>
									</div>
									<div class="col-name cell">
										<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Keyword" class="c-input" [ngClass]="{active: query.Keyword}" type="text" />
										<ion-icon class="min-btn" (click)="query.Keyword=''; refresh()" *ngIf="query.Keyword" name="close-circle-outline"></ion-icon>
									</div>

									<button mat-raised-button type="submit" style="display: none">Search</button>
								</header>
							</form>
							<app-page-message [itemsLength]="_ItemsRecommend?.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

							<div *ngFor="let i of _ItemsRecommend; let j = index;" class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
								<div class="col-id cell">
									<span *ngIf="i.ItemId"> {{i.Id}} </span>
								</div>
								<div class="col-mrpname cell">
									<span *ngIf="i.MRPName"> {{i.MRPName}} </span>
									<span *ngIf="!i.MRPName"> {{i.MRPName}} </span>
								</div>
								<div class="col-name cell">
									<span *ngIf="i.ItemId"> <b>{{i.ItemCode}}</b> - {{i.ItemName}} </span>
									<span *ngIf="!i.ItemId" class="vendor-name">
										<a [href]="'#/'+'business-partner/'+i.VendorId" (click)="nav('business-partner/'+i.VendorId,'forward')" title="{{'Vendor' | translate}}">
											{{i.VendorId}} <ion-icon name="open-outline"></ion-icon>
										</a>
										{{i.VendorName}}
									</span>
								</div>

								<div class="col-number cell" *ngIf="i.ItemId">
									<b *ngIf="i.ItemId">{{i.QuantityOrdered}} <small>{{i.UoM}}</small></b>
								</div>
								<div class="col-date cell" *ngIf="i.ItemId">
									<span *ngIf="i.ItemId">{{i.DueDateText}}</span>
								</div>
								<div class="col-checkbox cell">
									<input *ngIf="!i.ItemId" class="c-checkbox" type="checkbox" [(ngModel)]="i.checked" (change)="changeVendor(i)" />
								</div>

								<div class="col-number cell">
									<span *ngIf="!i.ItemId">{{i.PriceText}}</span>
								</div>
								<div class="col-number cell">
									<span *ngIf="!i.ItemId">{{i.Quality}}</span>
								</div>
								<div class="col-number cell">
									<span *ngIf="!i.ItemId">{{i.Delivery}}</span>
								</div>
								<div class="col-number cell">
									<span *ngIf="!i.ItemId">{{i.Payment}}</span>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>