<ion-header>
	<app-toolbar [page]="this"> </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="ng-select-table" style="position: absolute"></div>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Group' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveChange();" [field]="{id: 'Code', type: 'text', label: 'Code', form: formGroup}"></app-form-control>
						<app-form-control (change)="saveChange();" [field]="{id: 'Name', type: 'text', label: 'Name', form: formGroup}"></app-form-control>
						
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveChange();" [field]="{id: 'Sort', type: 'number', label: 'Sort', form: formGroup}"></app-form-control>			
					</ion-col>
					
				</ion-row>
			</form>
		</ion-grid>

		<div class="row-full shadow safe-max-width" style="max-width: 1760px">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'Item replacement' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Other information' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
				<ion-buttons slot="end" *ngIf="segmentView=='s1'"> </ion-buttons>
			</ion-toolbar>
			<div *ngIf="segmentView == 's1'">
				<form [formGroup]="formGroup">
					<ng-container formArrayName="Lines">
						<div class="table-contain">
							<app-data-table [rows]="formGroup.get('Lines')['controls']" [showSpinner]="pageConfig.showSpinner">
								<datatable-empty-message subMessage="Please click add new to start...">
									<ng-template datatable-empty-message-template>
										<div>
											<ion-button *ngIf="formGroup.controls.Id.value != null" size="small" (click)="addItemLine({}, true)">
												<ion-icon slot="start" name="add-circle-outline"></ion-icon>
												{{ 'Add item' | translate }}
											</ion-button>
										</div>
									</ng-template>
								</datatable-empty-message>
								<datatable-column [checkbox]="true" property="value" *ngIf="pageConfig.canEdit">
									<ng-template datatable-header-template>
										<input class="c-checkbox" type="checkbox" (change)="toggleSelectAll()"
											[checked]="isAllSelected" />
									</ng-template>
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control (change)="changeSelection(g)"
											[field]="{ id: 'IsChecked', label: 'Checked', type: 'checkbox', form: g }"></app-input-control>
									</ng-template>
								</datatable-column>
								<datatable-column class="col-id" name="No." property="#"></datatable-column>
								<datatable-column class="col-name item-name" name="Item" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control
											[field]="{id: 'IDItem', label: 'Item', type : 'ng-select-item', form : g,  dataSource: g.controls._IDItemDataSource.value,  bindLabel: 'Name',  bindValue: 'Id', clearable: true,  placeholder: 'Type to search...', appendTo: '#ng-select-table'}"
											(change)="IDItemChange($event, g)"></app-input-control>

									</ng-template>
								</datatable-column>
								<datatable-column class="col-code" name="Unit" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control [field]="{
											id: 'IDUoM',
											type: 'ng-select',
											form: g,
											dataSource: g.get('_IDUoMDataSource').value,
											bindLabel: 'Name',
											bindValue: 'Id',
											appendTo: '#ng-select-table'
										}" (change)="IDUoMChange(g)">
										</app-input-control>
									</ng-template>
								</datatable-column>
								<datatable-column class="col-number" name="Quantity" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control (change)="submitData(g)"
											[field]="{ id: 'Quantity', type: 'number', form: g }"></app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column class="col-del" name="" property="value" *ngIf="pageConfig.canEdit">
									<ng-template datatable-header-template>
										<ion-icon
											*ngIf="selectedLines.controls?.length > 0"
											color="danger"
											class="min-btn clickable"
											name="trash-outline"
											title="{{ 'SELECTED_ITEMS' | translate: { COUNT: selectedLines.controls?.length } }}"
											(click)="removeSelectedItems()"
										></ion-icon>
									</ng-template>
									<ng-template let-g="row" let-idx="idx" datatable-cell-template>
										<ion-icon color="danger" class="min-btn clickable" name="trash-outline" (click)="removeItem(idx)"></ion-icon>
									</ng-template>
								</datatable-column>
							</app-data-table>
						</div>
					</ng-container>
				</form>
				<div class="ion-padding" *ngIf="pageConfig.canEdit && formGroup.controls.Lines.value.length ">
					<ion-button fill="clear" size="small" (click)="addItemLine({}, true)">
						<ion-icon slot="start" name="add-circle-outline"></ion-icon>
						{{ 'Add item' | translate }}
					</ion-button>
				</div>
			</div>
			<div *ngIf="segmentView == 's2'">
				<div class="ion-padding">
					<ion-grid fixed>
						<ion-row class="hr-group" *ngIf="item?.Id">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Other information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id: 'CreatedBy', type: 'text', label: 'Created by', form: formGroup }"></app-form-control>
								<app-form-control [field]="{id: 'CreatedDate', type: 'span-datetime', label: 'Created date', form: formGroup }"></app-form-control>		
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id: 'ModifiedBy', type: 'text', label: 'Last modified by', form: formGroup }"></app-form-control>
								<app-form-control [field]="{id: 'ModifiedDate', type: 'span-datetime', label: 'Last modified date', form: formGroup }"></app-form-control>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
